<div class="vitalycare-footer">
    <div class="container vitalycare-footer-container">
        <div class="vitalycare-footer-content">
            <div class="vitalycare-footer-section">
                <h1>VitalyCare</h1>
                <p class="vitalycare-footer-description">
                    Centro médico dedicado al cuidado de la salud en el hogar y el trabajo, contamos con profesionales
                    con experiencia, dedicación y compromiso.
                </p>
            </div>
            <div class="vitalycare-footer-section">
                <h3 class="vitalycare-footer-title">NOSOTROS</h3>
                <ul class="vitalycare-footer-list">
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
                <div class="vitalycare-footer-section">
                    <h3 class="vitalycare-footer-title">SÍGUENOS EN</h3>
                    <div class="vitalycare-footer-social">
                        <a href="https://www.facebook.com/ramerols" target="_blank" class="vitalycare-footer-icon"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/imramero" target="_blank" class="vitalycare-footer-icon"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/ramirols/" target="_blank" class="vitalycare-footer-icon"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="vitalycare-footer-section">
                <h3 class="vitalycare-footer-title">SERVICIOS</h3>
                <ul class="vitalycare-footer-list">
                    <li><a href="#">Exámenes médicos ocupacionales</a></li>
                    <li><a href="#">Monitoreos ocupacionales</a></li>
                    <li><a href="#">Exámenes de laboratorio</a></li>
                    <li><a href="#">Rayos X</a></li>
                    <li><a href="#">Consultas médicas</a></li>
                    <li><a href="#">Laboratorio</a></li>
                </ul>
            </div>
            <div class="vitalycare-footer-section">
                <h3 class="vitalycare-footer-title">HORARIOS DE APERTURA</h3>
                <p class="vitalycare-footer-text">De: Lun - Sab</p>
                <p class="vitalycare-footer-text">Hora: 7am - 5pm</p>
                <p class="vitalycare-footer-text">Domingos: No hay atención</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="vitalycare-footer-bottom">
            <p>Copyright © 2025 VitalyCare | Todos los derechos reservados.</p>
        </div>
    </div>
</div>