<div class="content-container">
    <div class="vitalycare-carousel-container">
        <div class="vitalycare-carousel">
            <!-- Carousel 1 -->
            <div class="vitalycare-card">
                <div class="vitalycare-card-content">
                    <img src="../assets/carousel-1.webp" alt="Rayos X">
                    <h3>Rayos X</h3>
                    <a href="#">Más detalles <span class="vitalycare-icon">&#x2794;</span></a>
                </div>
            </div>
        
            <!-- Carousel 2 -->
            <div class="vitalycare-card">
                <div class="vitalycare-card-content">
                    <img src="../assets/carousel-2.webp" alt="Exámenes de laboratorio">
                    <h3>Exámenes de laboratorio</h3>
                    <a href="#">Más detalles <span class="vitalycare-icon">&#x2794;</span></a>
                </div>
            </div>
        
            <!-- Carousel 3 -->
            <div class="vitalycare-card">
                <div class="vitalycare-card-content">
                    <img src="../assets/carousel-3.webp" alt="Capacitaciones">
                    <h3>Capacitaciones</h3>
                    <a href="#">Más detalles <span class="vitalycare-icon">&#x2794;</span></a>
                </div>
            </div>
        
            <!-- Carousel 4 -->
            <div class="vitalycare-card">
                <div class="vitalycare-card-content">
                    <img src="../assets/carousel-4.webp" alt="Servicios de salud ocupacional">
                    <h3>Capacitaciones</h3>
                    <a href="#">Más detalles <span class="vitalycare-icon">&#x2794;</span></a>
                </div>
            </div>
        </div>
    </div>
</div>