<div class="vitalycare-contact-template-container">
    <div class="container">
        <div class="vitalycare-contact-template-container-content">
            <div class="vitalycare-contact-template-item">
                <i class="fas fa-map-marker-alt"></i>
                <div class="vitalycare-contact-template-item-content">
                    <h3>UBÍCANOS EN</h3>
                    <a href="https://maps.app.goo.gl/etT1h7deNBWbWZSf9" target="_blank">
                        <p>Ca. Argentina 358 - El parral, Comas</p>
                    </a>
                </div>
            </div>
            <div class="vitalycare-contact-template-divider"></div>
            <div class="vitalycare-contact-template-item">
                <i class="fas fa-phone-alt"></i>
                <div class="vitalycare-contact-template-item-content">
                    <h3>LLÁMANOS</h3>
                    <a href="tel:+51957271213">
                        <p>+51 957 271 213</p>
                    </a>
                </div>
            </div>
            <div class="vitalycare-contact-template-divider"></div>
            <div class="vitalycare-contact-template-item">
                <i class="fas fa-envelope"></i>
                <div class="vitalycare-contact-template-item-content">
                    <h3>ENVÍANOS UN CORREO</h3>
                    <a href="mailto:ramirols.dev@gmail.com">
                        <p>ramirols.dev@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>