<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide slide1">
            <div class="content">
                <div class="slider-content-title">
                    <h2>Tu bienestar es nuestra prioridad. Consultas médicas de calidad en cada paso de tu salud.</h2>
                </div>
                <div class="slider-content">
                    <p>En nuestro Centro de Salud, ofrecemos consultas médicas con atención dedicada y comprometida. Tu
                        bienestar es nuestra prioridad.</p>
                </div>
                <div class="slider-btn-container">
                    <a href="../pages/sobre-nosotros.html" class="vitalycare-btn">Conócenos</a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide slide2">
            <div class="content">
                <h2>Descubre una capacitación de calidad en el corazón de la atención médica.</h2>
                <p>En nuestro centro médico, no solo cuidamos de la salud, también cultivamos el conocimiento. Ofrecemos
                    capacitaciones de calidad para empoderar a profesionales y fortalecer la excelencia en el cuidado de
                    la salud.</p>
                <div class="slider-btn-container">
                    <a href="../pages/servicios.html" class="vitalycare-btn">Conócenos</a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide slide3">
            <div class="content">
                <h2>Pruebas de laboratorio con resultados precisos, tu salud es nuestra prioridad.</h2>
                <p>Las pruebas de laboratorio son herramientas fundamentales en el ámbito de la atención médica,
                    desempeñando un papel crucial en el diagnóstico, tratamiento y seguimiento de diversas condiciones
                    de salud.
                </p>
                <div class="slider-btn-container">
                    <a href="../pages/contactanos.html" class="vitalycare-btn">Conócenos</a>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide slide4">
            <div class="content">
                <h2>Ofreciendo soluciones integrales para un entorno laboral seguro y saludable.</h2>
                <p>Descubre cómo podemos fortalecer tu equipo y optimizar el rendimiento en el trabajo a través de
                    nuestro enfoque especializado y personalizado en salud ocupacional.
                </p>
                <div class="slider-btn-container">
                    <a href="../pages/sobre-nosotros.html" class="vitalycare-btn">Conócenos</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Flechas de navegación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!-- Paginación opcional -->
    <div class="swiper-pagination"></div>
</div>